<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/0504e385c5.js" crossorigin="anonymous" id="icon"></script>
    <title>Document</title>
</head>
<!-- views/partials/navbar.ejs -->
<body>
    <nav>
        <i class="fas fa-diagnoses fa-2x"></i>
        <a href="/">Home</a> 
        <div class="right">
            
                <% if (user) { %>
                    <a href="/logout">log out</a>
                <% } else { %> 
                    <a href="/auth/google">log in</a>
                <% } %>
        
        <a href="/subs">List of Meddit Subs</a>
        </div>
    </nav>
    

