<%- include('../partials/header') %>

<div>
    <form id="create-comment" method="POST" action="/:id/posts/:id">
        <label>Text:</label>
        <input type="text" name="text">
        <input type="submit" value="Add Comment">
    </form>
 </div>




<%- include('../partials/footer') %>
