
<%- include('../partials/header') %>

<!-- How do I add dynamic code here to say welcome to the subs name -->
<h1> WELCOME </h1>

<h2>Add a Post!</h2>
<h3>To add a post, please add a title and either a URL, text, or both</h3>
<div>
    <form id="create-post" method="POST" action="/subs/:id">
        <label>Post Title:</label>
        <input type="text" name="title">
        <label>Text:</label>
        <input type="text" name="text">
        <label>URL Link</label>
        <input type="url" name="url">
        <input type="submit" value="Add Sub">
    </form>
 </div>

<%- include('../partials/footer') %>